/* Get rid of a serif font */
.entry-content p {
	font-family: inter, sans-serif;
}

/* Organizers & attendees pages */
ul.wordcamp-organizers,
ul.tix-attendee-list {
	display: grid;
	grid-template-columns: 49% 49%;
	grid-column-gap: 1%;
}

#tix-attendees .tix-columns-3 li {
	width: auto;
}

ul.wordcamp-organizers  li {
	text-align: center;
}

ul.wordcamp-organizers img,
ul.tix-attendee-list img {
	border-radius: 50%;
	margin: auto;
}

#tix-attendees .tix-attendee-name {
	margin-left: 0;
	margin-top: .5em;
	text-align: center;
}

#tix-attendees .avatar {
	float: none;
}

#tix-attendees .tix-attendee-name {
    font-size: 120%;
}

#tix-attendees .avatar{
	height: auto;
	width: auto;
}

#tix-attendees li{
	height: auto;
}
.wordcamp-organizers__content {
	padding-top: 1em;
}

/* Site tag line */
.site-description {
	padding-left: 6.5em;
	font-size: 85%;
	color: #B1C9E8;
}

/* Button color */
button:not(.toggle),
.button
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
	background-color: #000;
}

/* Usually (required) next to a form label */
.contact-form label span {
	color: #0F4C81;
}

/* Hide the remaining number of tickets */
.tix-column-remaining {
	display: none;
}